# auth
USER=admin
PASSWORD=password
EMAIL=email@email.com

# db server
DB_PORT=5432
DB_DATA_DIR=./db_data

# strapi
STRAPI_DB_NAME=strapi
STRAPI_APP_DIR=./app

# jenkins
JENKINS_DATA_DIR=./jenkins_data

# nginx
STRAPI_DOMAIN=sub1.example.com
WEB_DOMAIN=sub2.example.com
JENKINS_DOMAIN=sub3.example.com
DB_ADMIN_DOMAIN=sub4.example.com
PUBLIC_DIR=./public
